node_modules
*.log*
dist
.DS_Store
.vercel
.nuxt
sw.js
.env
.vscode
cache
.vercel_build_output
.output
package-lock.json
npm/modules.json
.idea
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
