name: autofix.ci  # needed to securely identify the workflow

on:
  pull_request:

permissions:
  contents: read

jobs:
  autofix:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - run: corepack enable
      - uses: actions/setup-node@v6
        with:
          node-version: lts/*
          cache: "pnpm"

      - run: pnpm install

      - name: Lint
        run: pnpm lint --fix

      - name: Sync
        run: pnpm sync
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}

      - uses: autofix-ci/action@7a166d7532b277f34e16238930461bf77f9d7ed8
