name: autofix.ci  # needed to securely identify the workflow

on:
  pull_request:

permissions:
  contents: read

jobs:
  autofix:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: corepack enable
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: "pnpm"

      - run: pnpm install

      - name: Lint
        run: pnpm lint --fix

      - name: Sync
        run: pnpm sync
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}

      - uses: autofix-ci/action@ff86a557419858bb967097bfc916833f5647fa8c
