name: ci

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

permissions:
  contents: read

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - run: corepack enable
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
        with:
          node-version: lts/*
          cache: "pnpm"

      - run: pnpm install

      - name: Lint
        # these run in the autofix workflow on pull requests
        if: github.event_name == 'push'
        run: pnpm lint

      - name: Test types
        run: pnpm tsc --noEmit

      - name: Sync
        run: pnpm sync
        # these run in the autofix workflow on pull requests
        if: github.event_name == 'push'
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}

      - name: Sync Status
        # these run in the autofix workflow on pull requests
        if: github.event_name == 'push'
        run: git diff --exit-code

      - name: Build
        run: pnpm build
