name: ci

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: "pnpm"
      - run: corepack enable
      - run: pnpm install

      - name: Lint
        run: pnpm lint

      - name: Sync
        run: pnpm sync

      - name: Sync Status
        run: git diff --exit-code

      - name: Build
        run: pnpm build

      - uses: dorny/paths-filter@v2
        if: github.event_name == 'push'
        id: changes
        with:
          filters: |
            modules:
              - 'modules/**'
              - 'lib/**'

      - name: Publish to npm
        if: github.event_name == 'push' && steps.changes.outputs.modules == 'true'
        run: |
          echo "//registry.npmjs.org/:_authToken=$NPM_AUTH_TOKEN" >> ~/.npmrc
          echo "//registry.pnpmpkg.com/:_authToken=$NPM_AUTH_TOKEN" >> ~/.npmrc
          pnpm release
        env:
          NPM_AUTH_TOKEN: ${{secrets.NPM_AUTH_TOKEN}}
