name: release

on:
  push:
    branches:
      - main
    paths: 
      - 'modules/**'
      - 'lib/**'
      - '.github/workflows/release.yml'

permissions:
  contents: read
  id-token: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - run: corepack enable
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
        with:
          node-version: latest
          cache: "pnpm"
      - run: pnpm install

      - name: Build
        run: pnpm build

      - name: Publish to npm
        run: pnpm release
